// Standard Button
// ------------------------------------------ //

.os-b-btn {
    @extend .os-h4;
	@extend .os-u-transition-fast;
    appearance: none;
    background: none;
    border: 1px solid black;
    border-radius: 0;
    box-shadow: none;
    color: $color-text-main;
    cursor: pointer;
	display: inline-block;
    margin-top: 0;
    padding: 0.8rem 1rem;
    text-align: center;
    text-shadow: none;
	
	&:hover {
        background-color: rgba(black, 0.1);
	}

    // Inverse Button
    // ------------------------------------------ //
    &.os-is-inverse {
        border-color: white;
        color: white;
        &:hover, &:focus {
            color: white;
            background-color: rgba(white, 0.25);
        }
        // &:focus {
        //     outline: 0;
        // }
    }

    // Small Button
    // ------------------------------------------ //
    &.os-is-small {
        @extend .os-h5;
        margin-top: 0;
        padding: 0.4em 0.5em;
    }

    // Disabled Button
    // ------------------------------------------ //
    &[disabled], &.os-is-disabled {
        cursor: default;
        opacity: 0.3;
        &:hover, &:focus {
            color: $color-text-main;
            border-color: black;
            background: none;
        }
    }

    // Solid Button
    // ------------------------------------------ //
    &.os-is-solid {
        border-color: transparent;
        background: $color-text-main;
        color: white;
        &:hover, &:focus {
            background: rgba($color-text-main, 0.75);
        }
    }

    &.os-is-solid.os-is-inverse {
        background: white;
        color: $color-text-main;
        &:hover, &:focus {
            background: rgba(white, 0.75);
        }
    }

    &.os-is-solid[disabled], 
    &.os-is-solid.os-is-disabled {
        background: rgba(black, 0.35);
        &:hover, &:focus {
            border-color: transparent;
            color: white;
        }
    }
}