
// Normalize tables

table {
    border-collapse: collapse;
    background-color: transparent;
	margin: $leading 0 0;
}
caption {
    @extend .os-u-text-left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: lightgray;
}
th {
    @extend .os-u-text-left;
}

// Table styles

.os-b-table {
    width: 100%;
    
    td, th {
        padding: 0.5rem;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    thead th {
        @extend .os-h4;
        @extend .os-u-mt-0;
        border-bottom: 1px solid;
        
    }
    tfoot th {
        border-top: 1px solid;
    }
}

.os-b-table--striped {
    @extend .os-b-table;
    
    td, th {
        padding: 0.5rem;
        &:first-child, &:last-child {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
    
    tbody > tr:nth-child(odd) {
        background: rgba(black, 0.05);
    }
}

.os-is-hoverable {
    &.os-b-table,
    &.os-b-table--striped {
        tbody tr:hover td {
            background: rgba(black, 0.1);
        }
    }
}