
// Typography
// ------------------------------------------- /

$font-main: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", "Arial", sans-serif;
$font-code: "Monaco", monospace;
$font-pre: "Monaco", monospace;
$leading: 1.5rem;